.wrapper {
	padding: 30px;
	box-sizing: border-box;	
	background-color: #CFE2F3;
	border: 1px solid black;
}

.display {
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	grid-gap: 20px;
	padding-top: 20px;

	div:nth-child(1n+19) {
		grid-column: span 2;
		width: 162px;
		height: 60px;
		background-color: #FF9901;
	}

	div:nth-child(1) {
		background-color: #CCCCCC;
	}

	div:nth-child(4n + 4) {
		border: 1px solid #FF9901;
	}
}



